body {
  background: linen;
  margin: 0;
  font-family: PT Sans sans-serif ;
}
.image-contents div:hover {
  opacity: 1;
}
a {
  text-decoration: none;
}

.image-contents div:hover {
  opacity: 1;
  
}
a {
  text-decoration: none;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header {
  z-index: 4;
  padding-bottom: 16px;
  background-color: rgba(0, 0, 0, 1);
  min-height: 500px;
  flex-grow: 0;
  background-position: center;
  border-bottom: 32px solid teal;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://cdna.artstation.com/p/assets/images/images/007/657/242/large/kilart-choe-heonhwa-8.jpg?1507655121);
  display: flex;
  flex-direction: column;
  width: auto;
}
@media (max-width: 991px) {
  .header {
    flex-grow: 0;
  }
}
.header-content {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  background-image: linear-gradient(rgba(15, 15, 15), rgba(255, 255, 255, 0));
  padding-bottom: 20px;
}
@media (max-width: 991px) {
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: sticky;
  }
}
.logo {
  flex-direction: row;
  display: flex;
}
@media (max-width: 991px) {
  .logo {
    flex-direction: row;
    display: flex;
  }
}
.img {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 55px;
  width: 55px;
  margin-bottom: auto;
  margin-top: auto;
  object-fit: cover;
}
.title-area {
  display: flex;
  flex-direction: column;
  max-width: 285px;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0%;
  text-align: left;
  font-family: Josefin Sans, sans-serif;
  font-size: 32px;
}
.nav {
  max-width: 1376px;
  justify-content: flex-start;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: auto;
  align-self: center;
  margin-right: auto;
  font-size: 22px;
}
@media (max-width: 991px) {
  .nav {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 640px) {
  .nav {
    align-items: stretch;
    flex-direction: column;
    display: flex;
  }
}
.a {
  display: flex;
  pointer-events: auto;
  cursor: pointer;
  margin-right: 32px;
  font-family: Josefin Sans, sans-serif;
  text-align: left;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  opacity: 0.55;
}
.page-content {
  padding-top: 6px;
  padding-bottom: 6px;

  flex-direction: column;
  display: flex;
  max-width: 1407.048828125px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
  height: auto;
  min-height: 1200px;
}
@media (max-width: 991px) {
  .page-content {
    display: flex;
  }
}
@media (max-width: 640px) {
  .page-content {
    display: flex;
  }
}
.horizontal-view {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;

  pointer-events: auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 2%;
}
@media (max-width: 991px) {
  .horizontal-view {
    flex-direction: row;
    display: flex;
  }
}
.cc {
  overflow: hidden;
  position: relative;
  width: 400px;
  align-self: center;
  flex-direction: column;
  display: flex;
  height: 400px;
  max-width: 500px;
  max-height: inherit;
  margin-top: 1em;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
 
  cursor: pointer;
  pointer-events: auto;
}
.boxim {
  transition: 0.3s linear;
   z-index: -2;
  position: relative;
  width: 100%;
  display: flex;
  height: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://cdn.builder.io/api/v1/image/assets%2F5de58249366f4d8c8b94340945430e8c%2F5616ead62b034f19a830a3e73ce9c13b);
  align-self: stretch;
  flex-grow: 0;
  flex-direction: column;
  max-height: inherit;
  object-fit: cover;
}
@media (max-width: 991px) {
  .boxim {
    width: 100%;
  }
}
.cc-overlay {
  position: absolute;
  height: inherit;
  z-index: 2;
  transition: .5s ease;
  background-color: rgba(17, 17, 17, 0.5);
  width: inherit;
  object-fit: cover;
  opacity: 1;
  flex-grow: 0;
  flex-direction: column;
  margin-top: auto;
  min-height: auto;
  display: flex;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.box {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  transition: .2s linear;
  width: 100%;
  position: relative;
  line-height: normal;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: Josefin Sans, sans-serif;
  padding-top: 0.02px;
  padding-bottom: 0px;
  font-size: 32px;
}
.horizontal-view-2 {
  flex-direction: row;
  display: flex;
  margin-top: 2%;
  max-height: calc(100vw * 0.3);
  pointer-events: auto;
  max-width: 100%;
  height: calc(100vw * 0.3);
  margin-bottom: 2%;
}
@media (max-width: 991px) {
  .horizontal-view-2 {
    flex-direction: row;
    display: flex;
  }
}
@media (max-width: 640px) {
  .horizontal-view-2 {
    display: flex;
  }
}
.page-content-2 {
  padding-top: 1em;
  padding-bottom: 6px;
  max-width: 50em;
  min-height: 600px;
  line-height: 1.6;
  padding-left: 4em;
  font-size: 20;
  padding-right: 4em;
  font-family: 'PT Sans', sans-serif;
  flex-direction: column;
  display: flex;
  color: #555;
  padding: 4em 1em;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .page-content-2 {
    display: flex;
  }
}
@media (max-width: 640px) {
  .page-content-2 {
    display: flex;
  }
}
.div {
  margin-left: 20px;
  flex-grow: 1;
  width: 55%;
  height: auto;
  border-bottom: 2px solid #555;
  flex-direction: column;
  display: flex;
}

strong {
  color: #333;
}
.title {
  position: relative;
  margin-top: 1em;
  height: auto;
  text-align: left;
  margin-right: auto;
  color: rgba(51, 51, 51, 1);
  padding-top: 1em;
}
.div-2 {
  display: block;
  position: relative;
  line-height: normal;
  height: auto;
  text-align: left;
  margin-bottom: auto;
}
.info {
  display: flex;
  position: relative;
  margin-top: 20px;
  width: 40%;
  margin-left: 20px;
  flex-direction: column;
  height: auto;
  margin-right: 20px;
  margin-bottom: 20px;
}
.skills {
  display: flex;
  flex-direction: column;
}
.desc {
  position: relative;
  line-height: normal;
  height: auto;
  text-align: left;
  display: block;
  margin-bottom: auto;
}
.page-content-3 {
  padding: 4em 1em;
  margin: 0 auto;
  color: #555;
  display: flex;
  font-size: 20;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  padding-right: 4em;
  padding-left: 4em;
  line-height: 1.6;
  min-height: 600px;
  max-width: 50em;
  padding-bottom: 6px;
  padding-top: 1em;
}
@media (max-width: 991px) {
  .page-content-3 {
    display: flex;
  }
}
@media (max-width: 640px) {
  .page-content-3 {
    display: flex;
  }
}
.div-3 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  flex-grow: 1;
  margin-left: 20px;
}
.title-2 {
  position: relative;
  margin-top: 1em;
  height: auto;
  text-align: left;
  margin-right: auto;
  color: rgba(51, 51, 51, 1);
  padding-top: 1em;
  margin-left: auto;
}
.desc-2 {
  height: auto;
  position: relative;
  text-align: left;
  margin-bottom: auto;
  display: block;
}
a {
  color: #268bd2;
}
.footer {
  display: flex;
  flex-direction: column;
}
.socials {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 1);
  justify-content: center;
  margin-top: 5%;
}
.socials-contents {
  max-width: 236.14236450195312px;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  padding-right: 55px;
  padding-bottom: 55px;
  padding-left: 55px;
  padding-top: 55px;
}
.links {
  color: rgba(255, 255, 255, 1);
  font-family: PT Sans, sans-serif;
  text-align: left;
  letter-spacing: 0%;
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
}
.a-2 {
  max-width: 68px;
  justify-content: flex-start;
  border-style: solid;
  border-radius: 55px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 28px;
  padding-left: 28px;
  background-color: rgba(196, 196, 196, 1);
  cursor: pointer;
  pointer-events: auto;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  letter-spacing: 0%;
  text-align: left;
  font-family: PT Sans, sans-serif;
}
.footer-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 1);
}
.footer-area {
  display: flex;
  flex-direction: column;
  max-width: 126.14236450195312px;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;
  pointer-events: auto;
  position: relative;
  line-height: normal;
  height: auto;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: PT Sans, sans-serif;
}
.cc div.cc-overlay:hover {
  opacity: 0;
  transition: 0.3s ease;
}
.nav a:hover {
  opacity: 1;
  transition: 0.2s ease;
  text-decoration: none;
  transform: translate(0, 5px) scale(1.1);
}
.cc div:hover {
  transition: 1.3s ease;
  transform: scale(1.05);
  
}
.horizontal-view :hover .box {
  transform: translate(0,-32px);
  transition: .3 linear;
}
.horizontal-view :hover{
  transition: 1.9s linear;
  box-shadow: 2px 12px teal;
}
.horizontal-view :hover .boxim {
  transition: 0.3s linear;
  transform: scale(1.15);
  box-shadow: 3px 3px 0px;
}

.socials-contents a:hover {
  color: white;
  border: rgb(184, 184, 184);
  border-style: solid;
  background-color: rgb(43, 43, 43);
  transition: 0.2s ease;
}
.animation-slide {
  animation: animation 1000ms linear both;
  animation-delay: 2000;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bs%3A%5B%7BT%3A%22t%22%2Ce%3A%22b%22%2Cd%3A1000%2CD%3A0%2Cf%3A%7Bx%3A-50%2Cy%3A0%7D%2Ct%3A%7Bx%3A50%2Cy%3A0%7D%2Cs%3A3%2Cb%3A4%7D%2C%7BT%3A%22c%22%2Ce%3A%22s%22%2Cd%3A1000%2CD%3A0%2Cf%3A%7Bx%3A1%2Cy%3A1%7D%2Ct%3A%7Bx%3A1.5%2Cy%3A1.5%7D%2Cs%3A3%2Cb%3A4%7D%2C%7BT%3A%22t%22%2Ce%3A%22b%22%2Cd%3A1000%2CD%3A500%2Cf%3A%7Bx%3A0%2Cy%3A0%7D%2Ct%3A%7Bx%3A-100%2Cy%3A0%7D%2Cs%3A3%2Cb%3A4%7D%5D%7D */

@keyframes animation {
  0% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -3000,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
  }
  4.1% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -125.912,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1);
  }
  8.11% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -31.647,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1);
  }
  12.11% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      5.53,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);
  }
  16.12% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      13.007,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);
  }
  27.23% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      2.352,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);
  }
  38.34% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.311,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
  }
  60.56% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0.007,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
  }
  82.78% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

.animation-target {
  -webkit-animation: slideDown 2400ms linear both;
  animation: slideDown 2400ms ease-out both;
}

@keyframes slideDown {
  0% { opacity: 0.3;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  2.84% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  2.94% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      -3000,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -300, 0, 1);
  }
  6.05% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      -1690.637,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -169.637, 0, 1);
  }
  9.16% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      -890.585,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -89.585, 0, 1);
  }
  12.27% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      -43.49,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -43.49, 0, 1);
  }
  15.38% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      -18.647,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -18.647, 0, 1);
  }
  21.6% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      -0.728,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.728, 0, 1);
  }
  27.81% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      1.732,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.732, 0, 1);
  }
  66.68% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      -0.002,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1);
  }
  100% { opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
/* animatable classes*/
.container {
  padding: 100px 20px 0;
  max-width: 960px;
    font-size: 80px;
  color : #555;
  font-family : Josefin Sans, sans-serif;
}
h1 {
  margin: 0;
  text-align: center;

  overflow: hidden;
  line-height: 1;
  
}
h1 span {
  opacity: 0;
  display: block;
 font-size: inherit;
}
.animation-reveal
{
  
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s forwards;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translate(0,100%);
  }
  100% {
    transform: translate(0,0);
    opacity:100%;
  }
}
/* parallax classe*/
.parallax
{
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.bg
{
  z-index: -1;
   
  object-fit: cover;

  width: 100%;
  height: 200px;
 
}
.bg1
{
  position: absolute;
  object-fit: cover;

  width: 100%;
  height: 200px;
}